* {
    margin: 0;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}
.post{
    color: var(--neutras-gray, #8D9AA6);
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    padding-bottom: 7px;
    border-bottom: 1px solid #D3DDE6;
    width: 100%;
    margin-bottom: 29px;

}
.informar{
    max-width: 787px;
    color: var(--neutras-aco, #273644);
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}
.adicional{
    color: var(--neutras-gray, #8D9AA6);
    font-size: 14px;
    font-weight: 300;
    line-height: 160%; 
}
.container{
    color: var(--neutras-prata, #3C4B58);
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    text-decoration-line: underline;
    width: max-content;
}
.balao img{
    width: 32px;
    height: 26px;
    padding: 0px;
}
.opcao-link{
    color: var(--ui-color-primary, #2648A1);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    text-decoration-line: underline;
}

.informar .bottom{
    display: flex;
    align-items: center;
}

.informar .bottom .balao{
    display: flex;
    gap: 16px;
    padding-bottom: 35px;
    border-bottom: 1px solid #D3DDE6;
    width: 100%;
    margin-bottom: 34px;
}