*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.midia-galeria{
    display: flex;
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
}

.container-cards{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.midia-galeria .left .container-cards{
    max-width: 589px;
}

.container-cards::after{
    content: ' ';
    height: 100%;
    width: 13%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #FDFDFD 82.6%);
    position: absolute;
    right: 0;
}

.midia-galeria .left, .midia-galeria .right{
    display: flex;
    flex-direction: column;
}

.midia-galeria .media-nav{
    align-self: flex-end;
    display: inline-block;
}

.item-card{
    width: min-content;
}